<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.ptjs.Biz.mapper.ApplianceListMapper">


    <select id="queryPage" resultType="com.team.ptjs.Api.entity.ApplianceList">

select
    *from appliance_list
    </select>
</mapper>
